@font-face {
 font-family: "Dosis";
 src: url("../assets/fonts/Dosis-VariableFont_wght.ttf");
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
    outline: none !important;
}

:root {
  --typo: "Dosis";
  --background: #20124D;
  --buttons: #20124D;
  --borders: #FF3246;
}

*{
  font-family: var(--typo);
}

body {
  overflow: hidden;
}



/* ———— START - SCREEN ————— */

.hide {
  display: none !important;
}

#start-screen {
  width: 100%;
  height: 100vh;

  background-color : var(--buttons);

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

}

#start-screen h2 {
  /* font-size: 3rem; */
  font-family: var(--typo), sans-serif;
  color: var(--borders);
  font-size: 4rem;
  font-weight: bold;

  margin: 60px;
}

#start-screen .controller-btn {
  min-height: 25vw;
  min-width: 25vw;

  font-size: 2rem;
}


/* ——— MAIN - EDITOR ——— */


main {
  background-color: var(--background);
}

h1 {
  background-color: red;
}

#main-content {
  display: flex;
  height: 100vh;

  align-items: center;
  justify-content: space-around;
}

#canvasContainer {
  display: flex;
  flex-direction: row-reverse;
}



canvas {
  /* background-color: blue; */
  max-height: 75vh !important;
  max-width: 75vh !important;
  width: 50vw;
  aspect-ratio: 1 / 1 !important;

  border-radius: 25px;
  /* border: solid 3px black; */

  border: 4px solid var(--borders);
  box-shadow: var(--borders) 4px 4px 0 0;

  transform-origin: center;
  /* transform: rotate(20deg); */
  margin-top: 10vh;
}

.shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-2deg); }
  20% { transform: translate(-3px, 0px) rotate(2deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(2deg); }
  50% { transform: translate(-1px, 2px) rotate(-2deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-2deg); }
  80% { transform: translate(-1px, -1px) rotate(2deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-2deg); }
}

.buttons-containers {
  /* width: 140px; */
  height: 90vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  max-height: 90vh;
}

/* button {
  background-color: white;
  border: solid 3px black;
  padding: 40px;
  margin: 20px;
  border-radius: 50%;
} */

#indications-button{
  position: absolute;
  top: 0;
  right: 0;


}

/* ——— CONTROLLERS - BUTTONS ——— */


.controller-btn {
  background-color: var(--buttons);
  border: 2px solid var(--borders);
  height: 15vh;
  max-width: 15vh;
  aspect-ratio: 1 / 1;

  margin:1.5vw;
  border-radius: 50%;
  box-shadow: var(--borders) 4px 4px 0 0;
  color: var(--borders);
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipul75ion;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.controller-button:focus {
    outline: none !important;
}

.controller-btn:hover {
  background-color: var(--buttons);
}

.controller-btn:active {
  box-shadow: var(--borders) 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .controller-btn {
    padding: 0 25px;
  }
}

/* ——— VICTORY - BOX ——— */

.victory-box {
  background-color: green;
  max-width: 30vw;

  margin-left: 50px;

  background-color: var(--buttons);
  border-radius: 25px;
  border: 4px solid var(--borders);
  box-shadow: var(--borders) 4px 4px 0 0;

  /* top: 0; */
  /* left: 0; */

  /* position: absolute; */

  display: flex;
  flex-direction: column;
}

.victory-box h2 {
  font-size: 4rem;
  /* font-family: var(--typo), sans-serif; */
  margin: 15px;
  font-weight: bold;
  color: var(--borders);
}

.victory-box p {
  font-size: 2rem;
  /* font-family: var(--typo), sans-serif; */
  margin: 15px;
  color: white;
}

.victory-box button {
  background-color: var(--borders);
  border: 2px solid var(--borders);
  padding: 15px;
  border-radius: 15px;

  margin: 15px;
  color: white;
  font-size: 1.8rem;

  /* position: relative; */
  margin-top: auto;
  bottom: 0;
  right: 0;
  margin-left: auto;

  max-width: 70%;
}

.victory-shake {
  animation: shakeForVictory 3s;
  animation-iteration-count: infinite;
}

@keyframes shakeForVictory {
  0% { transform:  scale(1) rotate(0deg); }
  5% { transform:  scale(1.01) rotate(-2deg); }
  10% { transform:  scale(1.01) rotate(2deg); }
  15% { transform:  scale(1.01) rotate(0deg); }
  20% { transform:  scale(1.01) rotate(2deg); }
  25% { transform:  scale(1.01) rotate(-2deg); }
  30% { transform:  scale(1) rotate(0deg); }
  35% { transform: scale(1) translate(0) rotate(0); }
}

/* ———— display image to reproduce ———— */

#img-to-reproduce-display {
  position: absolute;
  top: 5vh;
  left: calc(50% - 15vh - 0.25rem);
  background-color: white;
  border-radius: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 100;
}

#img-to-reproduce-display button {
  background: none;
  border: none;
  padding: 1rem;
  width: 12rem;

  font-weight: bold;
}

#img-to-reproduce-display img {
  max-height: 30vh !important;
  max-width: 30vh !important;
  width: 50vw;
  aspect-ratio: 1 / 1 !important;

  border-radius: 1.2rem;
  margin: 0.5rem;
  margin-top:0;
}
